.parallax {
    /* The image used */
    background-image: url("imagens/wall2maior.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}
.textolow{
    min-height: 500px;
}

body {  
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:#262626;
}

}
.navbar-china {
    border-radius: 0;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
}
h1, h3{
    color: wheat;
}
.nav-item{
   padding-left: 45px;
}


.iginorar{
    background-image: url("imagens/wall5.jpg");
    background-size: cover;
}
